.transactionHistory {
    border: 1px solid rgb(0, 0, 0);
    margin: 100px auto;
    width: 40%;
}

.transactionHistory table {
    width: 100%; 
    border-collapse: collapse;
    text-align: center;
}

th, td {
   padding: 12px;
   border: 1px solid black;
   width: 100px;
}

th {
    background-color: gray;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: rgb(194, 189, 189);
}

td {
    text-align: center;
    text-transform: capitalize;
}